services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.6
    command: start-dev
    restart: unless-stopped
    ports:
      - "28080:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
